header {

    padding: 20px;

    margin-bottom: 20px;

    color: black;

    background: lightgray;

    width: 100%;

}



.mission {

    color: black;

    font-weight: 800;

}



h2 {

    font-weight: bold;

}



.featured {

    height: auto;

    width: 100%;

    float: left;

}



.border {

    border-width: 1px;

    border-color: lightgray;

}



.hemispheres {

    text-align: center;

}



.caption {

    font-size: 15px;

    text-align: center;

    font-weight: bold;

}